.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3022C8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}