.newsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newsList::after {
    content: "";
    flex: auto;
    max-width: 370px;
}

.newsListWraper {
    padding-bottom: 30px;
}