
.news {
    margin-bottom: 32px;
    max-width: 370px;
}

.news__image {
    padding-top: 56.25%;
    background-size: cover; 
}

.news__image--blank {
    background-color: #ccc;
}

.news__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news__info {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.news__info li {
    font-size: 14px;
    display: inline-block;
    line-height: 17px;
    margin-right: 16px;
}

.news__info li:last-child {
    margin-right: 0;
}

.news__info li a {
    text-decoration: none;
}

.news__title {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}

.news__excerpt {
    font-size: 17px;
    line-height: 19px;
    flex: 1 0 auto;
}

.news--full {
    max-width: 100%;
}

.news__inner {
    max-width: 600px;
}

.news--full .news__excerpt {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.news--full .news__info {
    padding: 20px 0;
}

.news__backlink {
    display: inline-block;
    margin-bottom: 30px;
}