.filters {
    padding: 0 0 20px;
}

.filters .Dropdown-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 14px;
    max-width: 104px;
    padding-left: 0;
}

.filters .Dropdown-root {
    max-width: 104px;
    display: inline-block;
    margin-right: 20px;
}

.filters .Dropdown-option {
    font-size: 13px;
}