* {
	box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    color: #465252;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 60px;
}

.main {
    max-width: 1174px;
    width: 100%;
    margin: 0 auto;
}

.cnt {
    margin: 0 auto;
}

.link {
    color: #493BE1;
    cursor: pointer;
}

.link:hover {
    color: #3022C8;
}

.full-width {
    width: 100%;
}

.display-block {
    display: block;
}

.text-center {
    text-align: center;
}

.button {
    background-color: #493BE1;
    border: 1px solid #493BE1;
    color: #fff;
    transition: all .3s;
    font-size: 16px;
    padding: 16px 0;
    text-decoration: none;
    cursor: pointer;
    min-width: 300px;
    display: inline-block;
}

.button--wide {
    min-width: 330px;
}

.button:hover {
    background-color: #3022C8;
}

.button-secondary {
    border: 1px solid #493BE1;
    color: #493BE1;
    transition: all .3s;
    font-size: 16px;
    padding: 16px 0;
    cursor: pointer;
    width: 330px;
}

.button-secondary:hover {
    border-color: #3022C8;
    color: #3022C8;
}